html,
body,
.page {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  margin:0;
    background: rgba(14,14,14,.9);
}

h1, li{
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size:1.875rem;
  letter-spacing: .3125875rem;
  line-height: 3.4375rem;
  color: rgba(255,255,255,.9);

}
h1:hover, li:hover{
  color: rgba(255,255,255,1)!important;
}
.projects:hover li{
  color: rgba(255,255,255,.25);
  cursor:pointer;
}

h2{
  font-family: sans-serif;
  font-weight: 300;
  font-size:	1.75rem;
  line-height: 3.4375rem;
    color: rgba(255,255,255,.3);
}
h3{
  text-align: center;
  font-size:1.5rem;
  font-weight:400;
  color: rgba(255,255,255,.7);
}

ul, li{
  list-style-type:none;
  text-decoration: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

.page {
  display: flex;
  flex-direction: column;
}

.header, .footer{
  /* flex: 1;
  height:115px; */
  width:100%;
  height:115px;
  position:fixed;
  z-index:10;
}
.header{
  top: 0;
  /* background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%,#fff), color-stop(100%,transparent)); /* Chrome, Safari4+ */ */
/* background: -webkit-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%); /* Chrome10+, Safari5.1+ */
/* background: -moz-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);    /* FF3.6+ */
/* background: linear-gradient(to left, transparent 0%,#fff 50%,transparent 100%);      /* W3C */
  background: linear-gradient(rgba(20,20,20,1),rgba(20,20,20,0));
  background: -webkit-linear-gradient(rgba(20,20,20,1),rgba(20,20,20,0));

}

.footer{
  bottom:0;
  background: linear-gradient(rgba(20,20,20,0),rgba(20,20,20,1));
}
.footer .terminal h3{
  bottom: 0;
  position: absolute;
}

.terminal{
  width:80px;
  margin:0 auto;
}

.projects {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  padding: 155px 40px;
  /* -ms-align-items: center;
  align-items: center; */
}
.content{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin:0 auto 55px auto;
  max-width:1240px;
}
.center{
  flex:2;
  text-align:center;
}
.left{
  flex:1;
}
.right{
  flex:1;
  text-align:right;
}

@media only screen and (max-width: 468px) {
  .left{
    display:none;
  }
}
